<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
   <ul>
        <li><%= link_to "Home", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
   </ul>
<%= yield %>
<!-- What are we yielding to? -->
</body>
</html>
