<% if current_user %>
  <h4>Add a comment:</h4>
  <%= form_for [post, post.comments.new] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>
<%= form_for [@post, Comment.new], remote: true do |f| %>
<% end %>
<% end %>
