<h1><%= @post.markdown_title %></h1>
<h2> <%= @summary.body if @summary %></h2>
  <% if @summary.nil? %>
<%= link_to "New Summary",new_post_summary_path(@post,Summary.new)%>
<%else %>
<%= link_to "Edit Summary", edit_post_summary_path(@post,@summary), class: 'btn btn-success btn-xs' %>
<%end %>
<div class="row">
  <div class="col-md-8">
    <p><%= @post.markdown_body %></p>
      </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>