<h1><%= @post.title %></h1>
<h2> <%= @summary.body if @summary %></h2>
<%= link_to_if !@summary, "New Summary",new_post_summary_path(@post,Summary.new)%>
<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>